<template>
  <div class="goods-lists">
    <el-breadcrumb separator="/">
  <el-breadcrumb-item :to="{ path: '/index/users' }">首页</el-breadcrumb-item>
  <el-breadcrumb-item>商品管理</el-breadcrumb-item>
  <el-breadcrumb-item>商品列表</el-breadcrumb-item>
</el-breadcrumb>
<el-form style="margin-top: 15px;" :inline="true" :model="goodsForm">
<el-form-item>
  <el-input style="width: 350px;" v-model="query">
    <el-button slot="append" icon="el-icon-search" @click="queryGoods"></el-button>
  </el-input>
</el-form-item>
<el-form-item>
  <el-button type="primary">添加商品</el-button>
</el-form-item>
</el-form>
<el-table :data="result.goods" border style="width: 100%;" height="410px">
      <el-table-column type="index" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格(元)"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
      <el-table-column prop="add_time" label="创建日期"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="small" icon="el-icon-edit" @click="" circle></el-button>
          <el-button type="danger" size="small" icon="el-icon-delete" @click="" circle></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
    style="margin-top:15px"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="+goodsForm.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="+goodsForm.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total">
    </el-pagination>
  </div>
</template>

<script>
import { getGoodsLists } from '../../http/api'
export default {
  data() {
    return {
      goodsForm: {
        query: this.$route.query.query || '',
        pagenum: this.$route.query.pagenum || 1,
        pagesize: this.$route.query.pagesize || 10
      },
      result: {},
      query: this.$route.query.query || ''
    }
  },
  methods: {
    //获取商品列表
    async getGoodsLists() {
      if(this.$route.query.query) {
        const res = await getGoodsLists(this.goodsForm)
        this.result = res
      }else {
        const { pagenum, pagesize} = this.goodsForm
        const res = await getGoodsLists({pagenum,pagesize})
        this.result = res
      }
    },
    handleSizeChange(val) {
      this.goodsForm.pagesize = val
      this.getGoodsLists()
    },
    handleCurrentChange(val) {
      this.goodsForm.pagenum = val
      this.getGoodsLists()
    },
    async queryGoods() {
      this.goodsForm.pagenum = 1
      this.goodsForm.query = this.query
      const res = await getGoodsLists(this.goodsForm)
      this.result = res
    }
  },
  watch: {
    goodsForm :{
      deep: true,
      handler(val) {
        this.$router.push({
          query: val
        })
      }
    }
  },
  created() {
    this.getGoodsLists()
  },
}

</script>
<style lang="scss" scoped>
.goods-lists {
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}
</style>