<template>
  <div class="rights">
    <el-breadcrumb separator="/" style="margin-bottom:15px;">
      <el-breadcrumb-item :to="{ path: '/index/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table :data="rightsList" border style="width: 100%;" height="550px">
      <el-table-column prop="authName" label="权限名称"></el-table-column>
      <el-table-column prop="path" label="路径"></el-table-column>
      <el-table-column prop="level" label="层级"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getRightsLists } from '../../http/api'
export default {
  data() {
    return {
      rightsList: []
    }
  },
  methods: {
    async getRightsLists() {
      const res = await getRightsLists()
      this.rightsList = res
    }
  },
  created() {
    this.getRightsLists()
  }
};
</script>
<style lang="scss" scoped>
.rights {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
}
</style>