<template>
  <div class="roles">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name:'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row style="margin-top:15px">
      <el-button type="primary" @click="showAddRoleDialog">添加角色</el-button>
    </el-row>
    <el-table :data="rolesData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <template v-if="scope.row.children.length>0">
            <el-row v-for="(item, index) in scope.row.children" :key="item.id">
              <el-col :span="4">
                <el-tag
                  closable
                  @close="deleteRight(scope.row, item.id, 0, index)"
                >{{item.authName}}</el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span="20">
                <el-row v-for="(_item, _index) in item.children" :key="_item.id">
                  <el-col :span="4">
                    <el-tag
                      closable
                      type="success"
                      @close="deleteRight(scope.row, _item.id, 1, index, _index)"
                    >{{_item.authName}}</el-tag>
                    <i class="el-icon-arrow-right"></i>
                  </el-col>
                  <el-col :span="20">
                    <el-tag
                      v-for="(__item, __index) in _item.children"
                      :key="__item.id"
                      closable
                      type="warning"
                      @close="deleteRight(scope.row, __item.id, 2, index, _index, __index)"
                    >{{__item.authName}}</el-tag>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </template>
          <span v-else>没有权限</span>
        </template>
      </el-table-column>
      <el-table-column label="#" type="index"></el-table-column>
      <el-table-column label="角色名称" prop="roleName"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="small" icon="el-icon-edit" @click="showEditRolesDialog(scope.row)" circle></el-button>
          <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteRoles(scope.row.id)" circle></el-button>
          <el-button
            type="success"
            size="small"
            icon="el-icon-check"
            @click="getAllRightsTree(scope.row)"
            circle
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="分配权限" :visible.sync="editRoleTreeDialog">
      <el-tree
        ref="tree"
        :data="data"
        default-expand-all
        show-checkbox
        node-key="id"
        :props="defaultProps"
      ></el-tree>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editRoleTreeDialog = false">取 消</el-button>
        <el-button type="primary" @click="editRightIds">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="添加角色" :visible.sync="addRoleDialog">
      <el-form ref="addRolesForm" label-position="left" label-width="80px" :model="addRolesForm">
        <el-form-item label="角色名称" prop="roleName" :rules="[
            {
              required: true,
              message: '角色名称不能为空',
              trigger: 'blur'
            }
          ]">
          <el-input v-model="addRolesForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc" :rules="[
            {
              required: true,
              message: '角色描述不能为空',
              trigger: 'blur'
            }
          ]">
          <el-input v-model="addRolesForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addRoleDialog = false">取 消</el-button>
        <el-button type="primary" @click="addRoles">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="editRoleDialog">
      <el-form ref="editRolesForm" label-position="left" label-width="80px" :model="editRolesForm">
        <el-form-item label="角色名称" prop="roleName" :rules="[
            {
              required: true,
              message: '角色名称不能为空',
              trigger: 'blur'
            }
          ]">
          <el-input v-model="editRolesForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述">
          <el-input v-model="editRolesForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editRoleDialog = false">取 消</el-button>
        <el-button type="primary" @click="editRoles">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getRolesLists,
  deleteRight,
  getAllRightsTree,
  editRightIds,
  addRoles,
  editRoles,
  deleteRoles
} from "../../http/api";
export default {
  data() {
    return {
      rolesData: [],
      editRoleTreeDialog: false,
      data: [],
      defaultProps: {
        children: "children",
        label: "authName"
      },
      roleId: "",
      addRoleDialog: false,
      addRolesForm: {
        roleName: '',
        roleDesc: ''
      },
      editRoleDialog: false,
      editRolesForm: {
        roleName: '',
        roleDesc: '',
        id: ''
      }
    };
  },
  methods: {
    //获取角色列表
    async getRolesLists() {
      const res = await getRolesLists();
      this.rolesData = res;
    },
    //删除权限通过权限ID
    async deleteRight(scopeRow, rightId, index, ...arr) {
      const res = await deleteRight(scopeRow.id, rightId);
      if (index == 0) {
        scopeRow.children.splice(arr[0], 1);
      } else if (index == 1) {
        scopeRow.children[arr[0]].children.splice(arr[1], 1);
      } else {
        scopeRow.children[arr[0]].children[arr[1]].children.splice(arr[2], 1);
      }
      // this.getRolesLists()
    },
    //显示权限列表树
    async getAllRightsTree(obj) {
      const res = await getAllRightsTree();
      this.editRoleTreeDialog = true;
      this.data = res;
      this.roleId = obj.id;
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(obj.children);
      });
    },
    //角色授权
    async editRightIds() {
      console.log(999999999999,this.$refs.tree.getCheckedNodes({includeHalfChecked: true}))
      const str = this.$refs.tree.getCheckedKeys({includeHalfChecked: true}).join(",");
      await editRightIds(this.roleId, str);
      this.editRoleTreeDialog = false;
      this.getRolesLists();
    },
    //显示添加角色弹窗
    showAddRoleDialog(){
      this.addRoleDialog = true
    },
    //添加角色
    addRoles() {
      this.$refs.addRolesForm.validate(async (valid)=>{
        if(valid){
         await addRoles(this.addRolesForm)
         this.addRoleDialog = false
         this.$refs.addRolesForm.resetFields()
         this.getRolesLists();
        }
      })
    },
    //显示编辑角色弹窗
    showEditRolesDialog(obj) {
      this.editRoleDialog = true
      this.editRolesForm.roleName = obj.roleName
      this.editRolesForm.roleDesc = obj.roleDesc
      this.editRolesForm.id = obj.id
      console.log(obj);
    },
    //编辑角色
    editRoles() {
      this.$refs.editRolesForm.validate(async (valid)=>{
        if(valid){
         await editRoles(this.editRolesForm)
         this.editRoleDialog = false
         this.editRolesForm.id  = ''
         this.$refs.editRolesForm.resetFields()
         this.getRolesLists();
        }
      })
    },
    //删除角色
    deleteRoles(id) {
      this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(async () => {
          await deleteRoles(id)
          this.getRolesLists()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    }
  },
  created() {
    //do something after creating vue instance
    this.getRolesLists();
  }
};
</script>
<style lang="scss" scoped>
.roles {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
}
</style>
