<template>
  <div class="index">
    <el-container style="height:100vh;">
  <el-aside style="background-color: #001529" width="210">
    <el-menu
    background-color="#001529"
    text-color="#999"
    active-text-color="#fff"
    :router="true"
    :default-active="defaultActive"
    style="height:100vh;width:210px;box-sizing:border-box">
      <h3 class="title">后台管理</h3>
      <el-submenu v-for="item in menus" :key="item.id" style="background-color:#001529" :index="''+item.id">
        <template slot="title">
          <i v-if="item.path == 'users'" class="el-icon-s-grid"></i>
          <i v-if="item.path == 'rights'" class="el-icon-message"></i>
          <i v-if="item.path == 'goods'" class="el-icon-s-comment"></i>
          <i v-if="item.path == 'orders'" class="el-icon-camera"></i>
          <i v-if="item.path == 'reports'" class="el-icon-picture-outline-round"></i>
          {{item.authName}}</template>
        <el-menu-item v-for="_item in item.children" :key="_item.id" :index="'/index/' + _item.path">{{_item.authName}}</el-menu-item>
      </el-submenu>
    </el-menu>
  </el-aside>

  <el-container>
    <el-header style="text-align: right; font-size: 12px; border-bottom: 1px solid #ddd;">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>{{$store.state.username}}</span>
    </el-header>

    <el-main class="el-main">
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
  </div>
</template>

<script>
import { getMenus } from '../http/api'
import { mapMutations } from 'vuex'
export default {
    data() {
      return {
        menus: [],
        defaultActive: this.$route.path
      }
    },
    methods: {
      ...mapMutations([
        'resetState'
      ]),
      // 获取左侧菜单权限列表
      getMenus() {
        return getMenus().then(res => {
          this.menus = res
          return res
        })
      },
      //退出
      logOut() {
        localStorage.clear()
        this.resetState()
        this.$router.push({
          name: 'login'
        })
      }
    },
    watch: {
      '$route' () {
        this.defaultActive = this.$route.path
      }
    },
    created() {
      this.getMenus()
    },
  };

</script>
<style lang="scss" scoped >
  .index {
    .title {
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #fff;
    }
  }
  .el-header {
    line-height: 60px;
  }
  .el-main {
    padding: 15px;
    background: #eee;
  }

</style>
