<template>
  <div class="login">
    <div class="login-form-wrap">
      <h3 class="login-form-title">欢迎登陆</h3>
      <div class="login-form">
        <el-form ref="login-form" :model="form" class="demo-form-inline" :rules="rules" size="small">
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input type="password" v-model="form.password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="login-form-btn" type="primary" @click="_login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { debounce, throttle } from '../utils'
// import _ from 'underscore'
import _ from 'lodash'
import {login} from '../http/api'
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      form: {
        username: "admin",
        password: "123456"
      },
      rules: {
         username: [
            { required: true, message: '请输入用户名', trigger: 'blur' }
         ] ,
         password: [
             { required: true, message: '请输入密码', trigger: 'blur' }
         ]
      }
    };
  },
  methods: {
      ...mapMutations({
        setToken: 'setToken',
        setUsername: 'setUsername'
      }),
      //登录
      login() {
        this.$refs['login-form'].validate(async (valid) => {
          try {
            if(valid) {
              const { token, username} = await login(this.form)
              this.setToken(token)
              this.setUsername(username)
              this.$router.replace({
                  name: 'redirect_users'
              })
            }else {
              return false
            }
          } catch (err) {
          }
        })
      }
  },
  created() {
    this._login = _.debounce(this.login, 1500)
    window.addEventListener('resize',debounce(function() {
      console.log(123213)
    }, 2000))
  },
};
</script>
<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  .login-form-wrap {
    width: 300px;
    margin-right: 160px;
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    .login-form-title {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        font-weight: 700;
    }
    .login-form {
        padding: 15px;
        .login-form-btn {
            width: 100%;
        }
    }
  }
}
</style>
