<template>
  <div class="users">
    <el-breadcrumb style="margin-bottom:15px;" separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form :inline="true">
      <el-form-item>
        <el-input
          style="width: 350px;"
          @keyup.enter.native="getUsersBySearch"
          v-model="params.query"
        >
          <el-button slot="append" icon="el-icon-search" @click="getUsersBySearch"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="userInfoDialog=true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="result.users" border style="width: 100%">
      <el-table-column label="#" type="index" width="50"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话"></el-table-column>
      <el-table-column prop="create_time" label="创建日期"></el-table-column>
      <el-table-column prop="mg_state" label="用户状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            @change="changeUserStatus($event,scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="address" label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="editDialog(scope.row)"
            circle
          ></el-button>
          <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteConfirm(scope.row.id)" circle></el-button>
          <el-button type="success" size="small" icon="el-icon-check" @click="deliverDialog(scope.row)" circle></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top:15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="Number(params.pagenum)"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="Number(params.pagesize)"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total"
    ></el-pagination>
    <el-dialog title="添加用户" :visible.sync="userInfoDialog">
      <el-form ref="userInfoForm" :model="userInfoForm">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          :rules="[{required: true, message: '请输入用户名', trigger: 'blur'}]">
          <el-input v-model="userInfoForm.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          prop="password"
          label="密码"
          :label-width="formLabelWidth"
          :rules="[{required: true, message: '请输入密码', trigger: 'blur'}]">
          <el-input v-model="userInfoForm.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="userInfoForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="userInfoForm.email" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="userInfoDialog = false">取 消</el-button>
        <el-button type="primary" @click="addUsers">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editUserInfoDialog">
      <el-form ref="userInfoForm" :model="editUserInfoForm">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          :rules="[
      {required: true, message: '请输入用户名', trigger: 'blur'}
     ]"
        >
          <el-input v-model="editUserInfoForm.username" :disabled="true" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="editUserInfoForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="editUserInfoForm.email" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editUserInfoDialog = false">取 消</el-button>
        <el-button type="primary" @click="editUser">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="deliverRoleDialog">
      <el-form :model="deliverRoleForm">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          :rules="[
      {required: true, message: '请输入用户名', trigger: 'blur'}
     ]"
        >
          <el-input v-model="deliverRoleForm.username" :disabled="true" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-select v-model="deliverRoleForm.rid" placeholder="请选择">
            <el-option disabled label="请选择" :value="-1"></el-option>
            <el-option
              v-for="item in roleLists"
              :key="item.id"
              :label="item.roleName"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="deliverRoleDialog = false">取 消</el-button>
        <el-button type="primary" @click="deliverRole">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getUsers, addUsers, changeUserStatus, editUser, deleteUser, getRolesLists, getRidById, deliverRole } from "../../http/api";
export default {
  data() {
    return {
      params: {
        query: this.$route.query.query,
        pagenum: this.$route.query.pagenum || 1,
        pagesize: this.$route.query.pagesize || 8
      },
      result: {},
      userInfoForm: {
        username: "",
        password: "",
        email: "",
        mobile: ""
      },
      userInfoDialog: false,
      formLabelWidth: "80px",
      bySearch: false,
      editUserInfoDialog: false,
      editUserInfoForm: {
        username: "",
        email: "",
        mobile: "",
        id: ""
      },
      deliverRoleDialog: false,
      deliverRoleForm: {
        username: '',
        rid: '',
        id: ''
      },
      roleLists: []
    };
  },
  methods: {
    //用户列表
    async getUsers() {
      if (this.bySearch) {
        const res = await getUsers(this.params);
        this.result = res;
      } else {
        const { pagenum, pagesize } = this.params;
        const res = await getUsers({
          pagenum,
          pagesize
        });
        this.result = res;
      }
    },
    //每页显示条数发生变化，触发
    handleSizeChange(num) {
      this.params.pagesize = num;
      this.$router.push({
        query: Object.assign({}, this.$route.query, {
          pagesize: this.params.pagesize
        })
      })
      this.getUsers();
    },
    //页码发生变化
    handleCurrentChange(num) {
      this.params.pagenum = num;
      this.$router.push({
        query: Object.assign({}, this.$route.query, {
          pagenum: this.params.pagenum
        })
      })
      this.getUsers();
    },
    //添加用户
    addUsers() {
      this.$refs.userInfoForm.validate(async valid => {
        if (valid) {
          const res = await addUsers(this.userInfoForm);
          this.userInfoDialog = false;
          this.$refs.userInfoForm.resetFields();
          this._getUsers();
        }
      });
    },
    //切换用户状态
    async changeUserStatus(val, user) {
      await changeUserStatus(user.id, val);
      this.getUsers();
    },
    //搜索获取用户列表
    getUsersBySearch() {
      this.bySearch = true;
      // const query = {...this.$route.query, query: this.params.query}
      this.$router.push({
        query: Object.assign({}, this.$route.query, {
          query: this.params.query
        })
      })
      this.getUsers();
    },
    //编辑用户信息弹窗
    editDialog(obj) {
      console.log(obj);
      this.editUserInfoDialog = true;
      this.editUserInfoForm.username = obj.username;
      this.editUserInfoForm.email = obj.email;
      this.editUserInfoForm.mobile = obj.mobile;
      this.editUserInfoForm.id = obj.id;
    },
    //编辑用户信息提交
    async editUser() {
      try {
        const { id, email, mobile } = this.editUserInfoForm;
        const res = await editUser(id, {
          email,
          mobile
        })
        this.editUserInfoDialog = false
        this.getUsers()
      } catch (err) {

      }

    },
    //删除用户信息
    deleteConfirm(id) {
      this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(async () => {
          const res = await deleteUser(id)
          this.getUsers()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
    },
    //打开分配角色弹窗
    async deliverDialog(obj) {
      try {
        const { id, username } = obj
        this.deliverRoleDialog = true
        const {rid} = await getRidById(id)
        this.deliverRoleForm.rid = rid
        this.deliverRoleForm.username = username
        this.deliverRoleForm.id = id
        const res = await getRolesLists()
        this.roleLists = res
      } catch (err) {}
    },
    //分配角色
    async deliverRole() {
      try {
        const { id, rid } = this.deliverRoleForm
        const res = await deliverRole(id, rid)
        this.deliverRoleDialog = false
        this.getUsers()
      } catch(err) {}

    }
  },
  created() {
    if(this.$route.query.query){
      this.bySearch = true
    }
    this.getUsers();
  }
};
</script>
<style lang="scss" scoped>
.users {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
}
</style>
